# --- GOAT Model Weights (Large Files) ---
# Ignore the entire model folder because of the 474.9MB weights
my_local_project_folder/
*.safetensors
*.bin
*.joblib

# --- Python Environment & Cache ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- Jupyter Notebook Checkpoints ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- OS Specific Files ---
.DS_Store
Thumbs.db

# --- Virtual Environment ---
.venv/